body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('lakeErie.JPG');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Home Page*/ 

#cleveland {
    background-image: url('cleveland.jpg');
    color:antiquewhite;
}

.centerText{
    text-align:center;
}

#textChange{
    font-family: 'Satisfy', cursive;
}


/*Universal Formatting*/

/*Detail Buttons*/


.detailButton{
    text-align:center;
    color:antiquewhite;
}

a.btn.btn-primary{
    background-color:#992600;
    border-color:black;
}

div.thumbnail{
    border:0px;
}


.detailsHeading{
    font-family: 'Kaushan Script', cursive;
    font-size:100px;
}

.detailsEven{
    font-family: 'Courgette', cursive;
}

.detailsOdd{
    font-family: 'Satisfy', cursive;
    color:ghostwhite;
}

/*image resizing*/

.squareReSize{
    width:380px;
    height:380px;
}

.rectangleReSize{
    width:550px;
    height:380px;
}

.invertedRectangleReSize{
    width:380px;
    height:550px;
}

.tabletReSize{
    width:325px;
    height:400px;
}

.thumbnail{
    background-image: url('lakeErie.JPG');
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight:900;
}

h2{
    font-family: 'Architects Daughter', cursive;
    font-weight:bold;
}

h3{

}


footer{
    color:snow;
}

#whiteText{
    color:ghostwhite;
    font-weight:bolder;
}
/*Bottoms*/

img#shiny{
    width:300px;
    height:450px;
}

img#green{
    width:650px;
    height:380px;
}

/*Accessories*/

#casio{
    width:350px;
    height:400px;
}

/*Tops Section*/



/*Tops Details*/

.tShirtReSize{
    width:400px;
    height:425px;
    
}

img#cool{
    width:430px;
    height:525px;
}