body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Home Page*/ 

#cleveland {
    background-image: url('cleveland.jpg');
}

.centerText{
    text-align:center;
}

/*Tops Section*/




/*Tops Index*/





/*Tops Details*/

.detailsHeading{
    font-family: 'Kaushan Script', cursive;
    font-size:100px;
}

.detailsEven{
    font-family: 'Courgette', cursive;
}

.detailsOdd{
    font-family: 'Satisfy', cursive;
}
