@{
    ViewBag.Title = "Least Stylish Guy in the CLE";
}

<div class="jumbotron centerText" id="cleveland">
    <h1>THE LEAST STYLISH GUY IN THE CLE</h1>
    <p id="textChange" class="lead">I've got two modes - leisure and formal - and nothing in between.</p>
</div>

<h2 class="centerText" id="whiteText">Use the nifty tabs at the top of the screen to scroll through and add clothes to my totally tubular wardrobe!!!</h2>
<p class="glyphicon glyphicon-cloud">