@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h1>Pants</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Pants Row One*@


<div class="row">
    @foreach (var item in Model)
    {
        if (item.BottomsID >= 1 && item.BottomsID <= 6)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)>
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.BottomsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Shorts Row One*@

<h2>Shorts</h2>

<div class="row">
    @foreach (var item in Model)
    {
        if (item.BottomsID >= 7 && item.BottomsID <= 9)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src=@Url.Content(item.Photo.Photo1)>
                    <div class="caption">
                        <p class="detailButton">@Html.ActionLink("Details", "Details", new { id = item.BottomsID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    }
</div>